* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*,
button,
input {
  font-family: -apple-system, Ubuntu, Arial, sans-serif;
}
*,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
